* {
    padding: 1px;
    font-family: 'Arimo', sans-serif;
    margin: 0;
}

.header__contIzq {
    float: left;

}

.header__contDer {
    float: right;
    text-align: center;

}

.header__cont {
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 100%;
    margin: 0%;
    padding: 0%;

}

.seccion__banner {
    height: 90vh;
    background-position: center;
    background-size: 80%;
}

.nav__enlace {
    color: #b7f205;
    text-decoration: none;
    display: inline;
    margin-left: 20px;
    line-height: 10vh;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
}

.nav__ul {
    list-style-type: none;
}

.header__logo {
    
    transform: translateX(-750px);
    width: 10%;
    font-family: 'Arimo', sans-serif;
    font-size: 550%;
    text-align: center;
    color: #b7f205;
    margin: 200 px;
    margin: auto;
    font-size: 80px;
    font-weight: 600;
    position: absolute;
}


#header {
    background-image: url(https://fondosmil.com/fondo/4030.jpg);
    background-position: center;
    background-size: cover;
    margin: auto;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

ul {
    list-style: none;
    text-align: center;
}

li {
    display: inline;
    margin-left: 20px;
    line-height: 10vh;
}

.section {

    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 1rem;
}

.section__p {

    font-family: 'Arimo', sans-serif;
    background-color: #b7f205;
    text-align: justify;
    height: 30%;
    width: 80%;
    margin-left: 50px;
    margin-top: 90px;
    display: grid;
    justify-items: start;

}

.section__img {

    margin-left: 80px;
    margin-top: 40px;



}

.section__ins {

    font-family: 'Arimo', sans-serif;
    background-color: #b7f205;
    border-radius: 20px;
    width: 100%;
    height: 90%;




}

.section__ins--form {
    font-family: 'Arimo', sans-serif;

    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 1rem;
}

.section__table {

    font-family: 'Arimo', sans-serif;
    background-color: #b7f205;
    width: 90%;
    border-radius: 20px;
    margin-left: 40px;
    margin-top: 10px;

}

.aside {

    padding: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.aside__inscrip {

    font-family: 'Arimo', sans-serif;
    background-color: #b7f205;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.aside__inscrip--div {

    width: 100%;
}

.aside__inscrip--ol {
    font-weight: bold;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

}

.aside__inscrip--pasos:hover {
    animation-name: initial;
    animation-duration: 9s;
    font-weight: bold;
    font-family: 'Arimo', sans-serif;
    list-style: none;
    background-color: #b7f205;
    border: black 2px solid;

}

.footer__redes {
    background-color: gray;
}

.footer__redes--title {
    color: #b7f205;
    font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 30px;

}

.footer__redes--enl {
    text-decoration: none;
    color: white;
    font-family: 'Arimo', sans-serif;
    font-size: 30px
}

.footer__derechos {
    background-color: black;
    background-position: center;
    background-size: cover;
    color: white;
    font-family: 'Arimo', sans-serif;
    font-size: 30px
}

.section {

    width: 95.5%;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;

}

.section__grid {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);


    grid-template-areas:
        "ele1 ele2"
        "ele3 ele4"
        "ele5 ele5";

    grid-column-gap: 1rem;
    row-gap: 2rem;
    column-gap: 1rem;
    gap: 0.5rem;


}

.grid__hijo {
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Arimo', sans-serif;
    font-size: 30px
}


.section__grid--1 {
    grid-area: ele1;
    padding-top:2rem;
    display: flex;
    flex-direction: column;

}

.section__grid--2 {
    grid-area: ele2;
   
    display: flex;
    flex-direction: column;


}

.section__grid--3 {
    
    grid-area: ele3;
    display: flex;
    flex-direction: column;

}

.section__grid--4 {
    
    grid-area: ele4;
    display: flex;
    flex-direction: column;
}

.section__grid--5 {
    
    grid-area: ele5;
    display: flex;
    flex-direction: column;
}

.section__nos  {
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    justify-items: center;
    
}

.section__img--nos {
    padding: 1rem;

}

.nav__enlace--cont {
    
    text-decoration: none;
    font-size: 70px;
    display: flex;
    display: inline;
    color: black;
    padding: 1rem;
    
}

.nav__enlace--ayuda {
    
    text-decoration: none;
    font-size: 20px;
    display: flex;
    display: inline;
    color: black;
    padding: 1rem;
    
}







#menu {

    display: none;

}

/* index */
@media screen and (max-width:768px) {

    .section__img {
        width: 100px;
        height: 100px;
        margin: 0;
    }

    .section__p {
        width: 100px;
        height: 100px;
        margin: 0;
    }

    .header__logo {
        width: 80%;

    }

    .body {
        background-color: black;

    }

    .header__contDer {
        float: left;
    }

    .section__p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;
    }

    .section__img {
        width: 95%;
        height: 500px;
    }

    .section__ins {
        width: 95%;
    }

    .aside__inscrip {
        width: 95%;
    }

    .footer__derechos {
        background-color: red;
    }
}


/* index1 */
@media screen and (max-width:425px) {

    #menu {
        display: block;
        color: red;
        font-size: 30px;

    }

    .header__cont {
        display: flex;
        flex-direction: row;
    }

    .header__contDer {
        display: flex;
        flex-direction: row;
        justify-content: end;
    }

    .nav__ul {
        display: none;
    }

    .section__img {
        display: none;
    }

    .section__p {
        width: 100%;
        height: 200px;

    }

    .section__ins {
        width: 100%;
    }

    .aside__inscrip {
        width: 100%;
    }

}



/* servicio */
@media screen and (max-width:770px) {

    .body__service {
        background-color:black;
    }

    .header__contDer {
        float: left;
    }

    .section1 {
        margin: 0rem;
        padding: 0rem;
    }

    .section__grid {
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        grid-template-areas: 
        "ele1" "ele2"
        "ele3" "ele4"
        "ele5";
        
    }

    .imgser {
        width:200px ;
        height: 120px;
    }

    .section__grid--1 {
        width: 60%;
        
        
    }

    .section__grid--2 {
        width: 60%;
    }

    .section__grid--3 {
        width: 60%;
    }

    .section__grid--4 {
        width: 60%;
    }

    .section__grid--5 {
        width: 60%;
        
    }

    .section__etiq {
        color: #b7f205;
    }

    .nav__ul1 {
        float: left;

    }

    .grid__hijo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
   

}

/* servicio1 */
@media screen and (max-width:768px) {
    .body__nos {
        background-color: black;
    }

    .section__etiq--nos {
        color: #b7f205;
    }
    
}

/* nosotros */
@media screen and (max-width:425px) {
    .section__img--nos {
        width:350px ;
        height: 270px;
    }
    
}

/* contacto */
@media screen and (max-width:768px) {
    .body__cont {
        background-color: black;
    }

    .section__etiq {
        color: #b7f205;
    }
}

@media screen and (max-width:425px) {
    .section__grid--cont {
        
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        justify-items: center;
    }
}

/* ayuda */
@media screen and (max-width:768px) {
    .body__ayuda {
        background-color: black;
    }

    .section__color--text {
        color: #b7f205;
    }

    .nav__enlace--ayuda {
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        justify-items: center;
    }
}
