.aside {

    padding: 1rem;
    @include margin;

    &__inscrip {
    
        font-family: 'Arimo', sans-serif;
        background-color: $fluor;
        $width:map-get($map:tamaño , $key:ancho);
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    
    
    }
    
    &__inscrip--div {
        $width:map-get($map:tamaño , $key:ancho);
       
    }
    
    &__inscrip--ol {
        font-weight: bold;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        $width:map-get($map:tamaño , $key:ancho);
    
    }
    
    &__inscrip--pasos:hover {
        animation-name: initial;
        animation-duration: 9s;
        font-weight: bold;
        font-family: 'Arimo', sans-serif;
        list-style: none;
        background-color: $fluor;
        border: $bl 2px solid;
    
    }
}
