.footer {

    &__redes {
        background-color: gray;
    }
    
    &__redes--title {
        color: $fluor;
        font-family: 'Arimo', sans-serif;
        text-align: center;
        font-size: 30px;
    
    }
    
    &__redes--enl {
        text-decoration: none;
        color: white;
        font-family: 'Arimo', sans-serif;
        font-size: 30px
    }
    
    &__derechos {
        background-color: $bl;
        background-position: center;
        background-size: cover;
        color: white;
        font-family: 'Arimo', sans-serif;
        font-size: 30px
    }
}

