.header {

    .header__contIzq {
        float: left;

    }

    .header__contDer {
        float: right;
        text-align: center;

    }

    .header__cont {

        $background-color:map-get($map: colores, $key:secundario );
        height: 100px;
        $width:map-get($map:tamaño , $key:ancho);
        margin: 0%;
        padding: 0%;

    }


    .header__logo {

        transform: translateX(-750px);
        width: 10%;
        font-family: 'Arimo', sans-serif;
        font-size: 550%;
        text-align: center;
        color: $fluor;
        margin: 200 px;
        margin: auto;
        font-size: 80px;
        font-weight: 600;
        position: absolute;
    }


    #header{
        background-image: url(https://fondosmil.com/fondo/4030.jpg);
        background-position: center;
        background-size: cover;
        margin: auto;
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}