.section {

    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 1rem;

    .section__p {
    
        font-family: 'Arimo', sans-serif;
        background-color: $fluor;
        text-align: justify;
        height: 30%;
        width: 80%;
        @include margin;
        display: grid;
        justify-items: start;
    
    }
    
    .section__img {
        @include margin;
    }
    
    .section__ins {
       
        font-family: 'Arimo', sans-serif;
        background-color: $fluor;
        border-radius: 20px;
        $width:map-get($map:tamaño , $key:ancho);
        $height:map-get($map: tamaño, $key:largo );
        padding: 1rem;
        margin: 50px 0px;
    
    
    
    
    }
    
    .section__ins--form {
        font-family: 'Arimo', sans-serif;   
        font-weight: bold;
        @include margin;
        padding: 1rem;
    }
    
    .section__table {
    
        font-family: 'Arimo', sans-serif;
        background-color: $fluor;
        width: 90%;
        border-radius: 20px;
        @include margin
    
    }

}
